<div class="mainContain">
  <h1>Bird of the Dei</h1>
  <span class="headerSpan">
    <p class="header">Mythological Birds and where to find them!</p>
    <a href="/post" class="btn btn-success">Post!</a>
  </span>
  <div class="jumbotron">
    <h1>Latest!</h1>
    <p>This is where the latest posts will be displayed upon arrival to the page. 841x272</p>
  </div>
  <!-- <div>
    <span>See more!
      <div class="arrowDown"></div>
    </span>
  </div> -->
