<div class="mainContain">
  <h1>Bird of the Dei</h1>
  <span class="headerSpan">
    <p class="header">Mythological Birds and where to find them!</p>
    <a href="/post" class="btn btn-success">Post!</a>
  </span>
  <div class="jumbotron mainDisplay">
    <h1 class="labelLatest">Latest!</h1>
    <div class="mainPostDisplay mpdTop">

    </div>
    <div class="mainPostDisplay mpdTop">

    </div>
    <div class="mainPostDisplay">

    </div>
    <div class="mainPostDisplay">
      
    </div>
  </div>
  <!-- <div>
    <span>See more!
      <div class="arrowDown"></div>
    </span>
  </div> -->
