<div class="mainContain">
  <h1>Bird of the Dei</h1>
  <span class="headerSpan">
    <p class="header">Mythological Birds and where to find them!</p>
    <a href="/post" class="btn btn-success">Post!</a>
  </span>
  <div class="jumbotron mainDisplay">
  {{#each posts}}
    <div class="mainPostDisplay mpdTop">
      <h2 class="labelPost">
        <a href='/post/{{id}}'>{{title}}</a>
      </h2>
      {{content}}
    </div>
    {{/each}}
  </div>
  </div>
