<div class="mainContain">
  <h1>Bird of the Dei</h1>
  <span class="headerSpan">
    <p class="header">Mythological Birds and where to find them!</p>
    <a href="/post" class="btn btn-success">Post!</a>
  </span>
  <div class="jumbotron">
    <div class="displayData">
      <h3>{{title}}</h3>
    </div>
    <div class="displayData">
      <h4>{{username}}</h4>
    </div>
    <div class="displayData">
      {{content}}
    </div>
  </div>
