form{
  margin-left: 0vw;
  margin-right: 4vw;
}

.legend{
  margin-left:64.5vw;
}

.mainContain{
  margin-left: 7.5vw;
}

.headerSpan{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header{
  margin-bottom: 0;
}

.jumbotron{
  width: 85vw;
  height:auto;
  margin-top: .5vw;
  padding-top: 0vw !important;
  padding:.75vw;
}

.mainDisplay{
  display:flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: .5vw;
  padding-top: .5vw !important;
  padding-bottom: .5vw !important;
}

.mainPostDisplay{
  height: 20vw;
  width: 49%;
  overflow: hidden;
  border: .25vw inset darkgrey;
  padding: .75vw;
}

.mpdTop{
  margin-bottom: 1.25vw;
}

.labelLatest{
  position: absolute;
  z-index: 10;
}

.labelPost{
  margin-right: 4vw;
  margin-bottom: 3vw;
}

.displayData > h4{
  margin-bottom:5vw;
}

.director{
  width:5vw;
  height:2.5vw;
  float:right;
  font-style: italic;
}

.btn-success{
  width: 15vw;
  margin-right: 7.5vw;
  margin-bottom: 1vw;
}

.commentAdd{
  margin-bottom:2.5vw;
}

.commentView{
  display: flex;
  flex-flow: column;
  border: .5vw inset grey;
  width: 73.5vw;
  margin-left: 6vw;
  padding: 1vw;

  font-size: 1.5vw;
}

.commentView > div{
  margin-left: 3vw;
}

.commentView > .top{
  margin-bottom:.5vw;
  margin-left: 0;
  border-top: 0;
}
